@media screen and (min-width: 768px) {
    html {
        --container-width: 720px;
    }
    h1 {
        font-size: 3.6rem;
    }
    .index {
        grid-template:  "title" 60px
                        "link" 120px
                        "subtitle" 50px
                        "index" 1fr
                        / 6rem 1fr 6rem;
    }
    .btn--burger,
    .btn--close {
        width: 28px;
        height: 24px;
    }
    .btn--burger:hover .btn--burger__line {
        -webkit-transform: translateX(36px);
        transform: translateX(36px);
    }
    .index__title {
        font-size: 1.8rem;
    }
    .index__list {
        -webkit-column-gap: 0;
        column-gap: 0;
    }
    .index__item {
        width: 73%;
        padding: 2rem 0;
        font-size: 1.2rem;
    }
    .cover__subtitle {
        font-size: 1.2rem;
    }
    main.content {
        margin: 12rem auto 5rem;
    }
    .question__heading {
        grid-template-rows: 8rem 1.4rem 12rem;
    }
    .question__title {
        grid-column: 1 / 11;
        font-size: 3rem;
    }
    .question__article {
        grid-template-columns: 1fr 3fr;
    }
    .question__sidebar {
        display: block;
    }
}
